<%= simple_form_for(@carts_product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :carts_id %>
    <%= f.input :quantity %>
    <%= f.input :products_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
