<h1>Listing carts_products</h1>

<table>
  <tr>
    <th>Cart</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @carts_products.each do |carts_product| %>
  <tr>
    <td><%= carts_product.cart_id %></td>
    <td><%= carts_product.product_id %></td>
    <td><%= link_to 'Show', carts_product %></td>
    <td><%= link_to 'Edit', edit_carts_product_path(carts_product) %></td>
    <td><%= link_to 'Destroy', carts_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Carts product', new_carts_product_path %>
