<% provide :title, "All Reservation" %>
<h1>All Reservation</h1>
<div id="reservation_table"></div>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<script>
    var options_keyWords = {
        'showRowNumber':false,
        'allowHtml':true
    };

    google.load('visualization', '1.1', {'packages':['table']});
    google.setOnLoadCallback(drawTable);

    function drawTable() {


        var data_table = new google.visualization.DataTable();
        data_table.addColumn('string', 'NAME', 0);
        data_table.addColumn('string', 'PHONE', 1);
        data_table.addColumn('string', 'DATE', 2);
        data_table.addColumn('string', 'NUMBER OF TABLES', 3);
        data_table.addColumn('string', 'Edit', 4);
        data_table.addColumn('string', 'Delete', 5);


    <% @reservations.each do |reservations| %>
        data_table.addRows([['<%= link_to reservations.name, reservations, :class => 'btn' %>',
            "<%= reservations.phone %>", "<%= reservations.start_date %>","<%= reservations.number_of_tables %>",
            '<%= link_to 'Edit', edit_reservation_path(reservations), :class => 'btn' %>',
            '<%= link_to 'Destroy', reservations, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>']]);
    <% end %>

        var class_table = new google.visualization.Table(document.getElementById('reservation_table')) ;

        data_table.sort(2)
        var v = new google.visualization.DataView(data_table)

        class_table.draw(v, options_keyWords);
    }


</script>



