<% provide :title, "HOME" %>
<div class="row">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list" data-offset-top="200">
        <li class="nav-header">Type</li>
        <% ProductTypes.all.each do |product_type|  %>
            <li><%= link_to product_type.name, "##{product_type.name}" %></li>
        <% end %>
        <li class="nav-header">Cart</li>
        <%= link_to "Go to my cart", cart_path(@cart.id) %>
      </ul>
    </div>
  </div>

  <div class="span9">
    <% ProductTypes.all.each do |product_type| %>
        <section id="<%= product_type.name %>">
          <ul class="thumbnails">
            <% @products.each do |product|%>
                <% if product.product_type == product_type.id %>
                    <li class="span4">
                      <div class="thumbnail">
                        <%= link_to cl_image_tag(product.picture), product %>
                        <h3><%= product.name %></h3>
                        <p><%= product.description %></p>
                        <%= button_to "Add to cart", cart_carts_products_path(:cart_id => @cart.id, :products_id => product) %>
                      </div>
                    </li>
                <% end %>
            <% end %>
          </ul>
        </section>
    <% end %>
  </div>
</div>

<script>

</script>
