<% provide :title, @product.name %>
<div class="row">
  <div class="span6">
    <%=  cl_image_tag(@product.picture, :width => 700, :height => 600) %>
  </div>
  <div class="span6">
    <h1>
      <%= @product.name %>
    </h1>
    <p>
      <%= @product.description %>
    </p>
    <%= form_tag "/carts/#{@cart.id}/carts_products", :method => :post do %>
        <%= hidden_field_tag :product_id, @product.id %>
        <%= select_tag :quantity, options_for_select(1..5) %>
        <%= submit_tag "Add To Cart", :class => "btn btn-success btn-large" %>
    <% end %>
    <%= link_to "Continuing shopping", products_path, :class => "btn" %>
  </div>
</div>
<div id="livefyre-comments"></div>
<script type="text/javascript" src="http://zor.livefyre.com/wjs/v3.0/javascripts/livefyre.js"></script>
<script type="text/javascript">
    (function () {
        var articleId = fyre.conv.load.makeArticleId(null);
        fyre.conv.load({}, [{
            el: 'livefyre-comments',
            network: "livefyre.com",
            siteId: "318506",
            articleId: articleId,
            signed: false,
            collectionMeta: {
                articleId: articleId,
                url: fyre.conv.load.makeCollectionUrl()
            }
        }], function() {});
    }());
</script>
<!-- END: Livefyre Embed -->
