<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<div class="nav-collapse collapse" >
  <ul class="nav">
    <li class="<%= 'active' if current_page?(root_path) %>">
      <%= link_to 'HOME', root_path %>
    </li>
    <li class="<%= 'active' if current_page?(products_path) %>">
      <%= link_to 'SHOPPING', products_path %>
    </li>
    <% if @cart %>
      <li class="<%= 'active' if current_page?(cart_path(@cart)) %>">
        <%= link_to 'SHOPPING CART', cart_path(@cart) %>
      </li>
    <% end %>
    <% if user_signed_in? %>
      <li class="<%= 'active' if current_page?(new_event_path) %>">
        <%= link_to 'NEW EVENT', new_event_path %>
      </li>
    <% end %>
    <li class="<%= 'active' if current_page?(new_reservation_path) %>">
      <%= link_to 'RESERVATION', new_reservation_path %>
    </li>
  </ul>
  <ul class="nav nav-tabs pull-right">
    <% if user_signed_in? %>
        <li>
          <%= link_to('Logout', destroy_user_session_path, :method=>'delete') %>
        </li>
    <% else %>
        <li>
          <%= link_to('Login', new_user_session_path)  %>
        </li>
    <% end %>
    <% if user_signed_in? %>
        <li class="<%= 'active' if current_page?(edit_user_registration_path) %>">
          <%= link_to('Edit account', edit_user_registration_path) %>
        </li>
        <li class="<%= 'active' if current_page?(current_user) %>">
          <%= link_to 'MY ACCOUNT', current_user %>
        </li>
        <% if current_user.has_role? :admin %>
            <li class="<%= 'active' if current_page?(users_path) %>">
              <%= link_to('Admin', users_path) %>
            </li>
        <% end %>
    <% else %>
        <li class="<%= 'active' if current_page?(new_user_registration_path) %>">
          <%= link_to('Sign up', new_user_registration_path)  %>
        </li>
    <% end %>
  </ul>
</div>
